* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-left {
  display: flex;
  height: 2em;
  align-items: center;
  padding-left: 0.7em;
  font-size: normal;
}
.header-right {
  display: flex;
}
li {
  text-decoration: none;
  list-style: none;
}

.nav {
  display: flex;
  padding: 1em;
  justify-content: space-between;
}
/* /Header */

/* Hero */
.container-jumbotron {
  background-color: lightcyan;
  margin-bottom: 6em;
}

.title {
  text-align: center;
  padding: 1em;
}

.jumbo {
  width: 100%;
}

.container-text-flex {
  width: 80%;
  display: flex;
  margin: 0 auto;
}

.flex-container {
  display: flex;
}

.parag {
  width: 30%;
}
.img-div {
  width: 70%;
}
/* /Hero */

/* Main */
.container {
  width: 70%;
  margin: 0 auto;
}

.col {
  width: calc(100% / 3);
  /* padding: 1em; */
  display: flex;
  justify-content: space-between;
}

.plan-type {
  border: 1px solid lightgray;
  padding: 0.7em;
}

.type {
  border-bottom: 1px solid lightgray;
  text-align: center;
  padding: 0.2em;
}
.plan-section {
  margin-top: 6em;
}
/* Enterprise */
.container-user {
  border: 1px solid lightgray;
  height: 2em;
  text-align: center;
  margin-top: 2em;
}

.container-enterprise {
  border: 1px solid lightgray;
  display: flex;
  padding: 1em;
  height: 12em;
}
.div-left {
  width: 70%;
}

.div-right {
  width: 30%;
}
/* Partnership */
.partner-img {
  width: 100%;
}
.partner {
  width: 50%;
}
.partner-text {
  width: 50%;
  padding-left: 5em;
}
.partnership {
  display: flex;
  margin-top: 10em;
}
.find {
  border: 1px solid dimgray;
  height: 4em;
  width: 10em;
  text-align: center;
  padding: 1em;
}
/* Partnership */

/* Operation-business */
.more-operation {
  width: calc(100% / 3);
  background-color: aqua;
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.partner-img-business {
  width: 100%;
}

/* /Main */
